.container__news {
    background: #EC615B;
    width: 365px;
    padding-left: 18px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .container__news {
        width: 300px;
        height: 250px;
        padding-left: 0.5em;
    }
}