.section {
    width: 542px;
    padding-top: 2em;
    padding-left: 3em;
    padding-bottom: 40px;
    font-family: 'Intro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 72px;
}
