.container__button {
    width: 135px;
    height: 38px;
    font-family: 'Intro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #5222D0;
    border: none;
    border-radius: 100px;
}