.main__section {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .main__section {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }
}

